@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif; 
    list-style: none;
}

:root {
    --bg-color: rgb(77, 17, 112); 
    --snd-bg-color: rgb(135, 11, 160) ;
    --text-color: white;
    --main-color: rgb(152, 90, 177);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;

}
body {
    
    background: var(--bg-color);
    color: var(--text-color);
    
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 9%;
    background: var(--snd-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center ;
    z-index: 100;
    opacity: 0.5;
    
    
}


.header nav a:hover{
    background: #9576aa;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;

}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active{
    color: var(--text-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img {
    width: 20vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
}

@keyframes floatImage {
   0%{
    transform: translateY(0);
   } 
   50%{
    transform: translateY(-2.4rem);
   }
   100%{
    transform: translateY(0);
   }
}

.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;

}

.btn:hover {
    box-shadow: none;
}


.about {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img img {
    width:35vw;
    border-radius: 50%;
}

.heading {
    text-align: left;
    line-height:1.2;
}

.about-content h2 {
    text-align: left; 
    line-height: 1.2;
    font-size: 2.6rem;
}

.about-content h3 {
    font-size: 2.6rem;

}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

h3{
    margin: 5px;
}

.skills h2{
    font-size: 3.2rem;
}

.skill {
    width: 500px;
    margin: 60px auto;
    color: var(--snd-bg-color);
    font-weight: 100px;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.1);
    

}

.skill li {
    margin: 20px 0;
    padding: 10px;
}

.bar{
    background: var(--main-color);
    display: block;
    height: 30px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.12);
    transition: all 0.3s cubic-bezier(.25, .8,.25,1)
    
}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);


}

.bar span{
    height: 30px;
    float: left;
    background: linear-gradient(135deg, rgb(138, 5, 216)0%,rgb(193, 6, 218)100%)
    
}

.HTML{
    width: 67%;
    animation: HTML 3s;
    font-weight: 20px;
}

.css{
    width: 70%;
    animation: css 3s;
}



.python{
    width: 65%;
    animation: css 3s;
}

.javascript{
    width: 40%;
    animation: css 3s;
}

.csharp{
    width: 30%;
    animation: css 3s;
}

.portfolio h2 {
    margin-bottom: 4rem;
    font-size: 2.6rem;
    
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    height: 400px;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1), var(main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--snd-bg-color);
}



.contact h2 {
    margin-bottom: 3rem;
    font-size: 2.6rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    border: none;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
    border: none;
}


/*confirmation message */
.confirmation-message{
    /* hides the confirmation message */
    display: none;
    text-align: center;
    padding: 3rem;
}
 
/* the pseudo selector .active to display */
.confirmation-message:active{   display: block; }

.back-home-btn{
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
    padding: 2rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #bd5cc0;
    color: black;
    text-decoration: none;
    box-shadow: 0px 2px 5px;
}

/* Dark and Light Theme Styles */
body.light-theme {
    background-color: #121212;
    color: #f0f0f0;
}

body.dark-theme {
    background-color: #ffffff;
    color: #000000;
    
}

.theme-toggle {
    grid-template-rows: repeat(autofit);
    text-align: center;
    margin-top: 15px;
}

#toggleThemeBtn {
    padding: 5px ;
    font-size: 10px;
    cursor: pointer;
}


 
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bg-color);
}

.footer-text{
    font-size: 1.6rem;
}

.footer-iconTop{
    display: inline-flex;
    justify-content: center ;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--snd-bg-color);
}

/* media queries */
 
 
 
@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media(max-width:991px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3%;
    }  
    
    .skill {
        padding: 7rem;

    }

    .portfolio{
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon {
        display:block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,0.2);
        box-shadow: 0 .5rrem 1rem rgba(0,0,0,0.2);
        display: none;

    }

    .navbar.active {
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content {
        order: 2;

    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column;
    }

    .about-img img {
        width: 50vw;
        margin-top: 4rem;
    }

    .skill h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2{
        margin-bottom: 3rem;

    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .home-img img {
        width: 80vw;
        margin-top: 8rem;
    }

    .about-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}

@media (max-width: 450px){
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}